<div class="container">
  <div class="row">
    <h3 class="text-center">База данных CompositeCRM</h3>
    <blockquote class="blockquote text-center">
      <p>Designe by IGEG</p>
    </blockquote>
    <nav class="navbar navbar-light navbar-expand-lg bg-light" >
     <ul class="navbar-nav">
       <li class="nav-item">
<button routerLink="InvoicesDebt" class="btn btn-outline-secondary m-2 p-2">Долги по накладным</button>
       </li>
       <li class="nav-item">
<button routerLink="" class="btn btn-outline-secondary m-2 p-2">Корреспонденция</button>
      </li>
       </ul>
    </nav>
    
<router-outlet></router-outlet>
</div>
