<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-success m-2 p-2" data-bs-toggle="modal" data-bs-target="#exampleModal"
 (click)="addClick()">
    Добавить документ
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="closeClick()"></button>
            </div>
            <div class="modal-body">
                <app-post-invoices [invDept]="invDept" *ngIf="ActivateAddInvDept"></app-post-invoices>
            </div>
        </div>
    </div>
</div>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Отдел</th>
            <th>Дата оформлени счета</th>
            <th>Номер счета</th>
            <th>Клиент</th>
            <th>Сумма</th>
            <th>Отвественный менеджер</th>
            <th>ИНН клиента</th>
            <th>Актуальный статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of invoicesDebtArray" class="text-center">
            <td>{{item.DepartmentNameDebt}}</td>
            <td>{{item.DateInvoicesDebt}}</td>
            <td>{{item.InvoiceNumberDebt}}</td>
            <td>{{item.ClientNameDebt}}</td>
            <td>{{item.InvoiceAmountDebt}}</td>
            <td>{{item.EmployeeFullNameDebt}}</td>
            <td>{{item.INNClientDebt}}</td>
            <td>{{item.InvoiseStatusDebt}}</td>
            <td>
                <button class="btn btn-outline-secondary m-1 p-1" data-bs-toggle="modal" data-bs-target="#exampleModal"
                (click)="changeClick(item)">Изменить</button>
                <button class="btn btn-outline-secondary m-1 p-1">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>